body
{
    padding-top: 120px;
    padding-left: 140px;
    margin: 0px;
    padding-right: 40px;
    background-color: rgb(243, 240, 240);
}

.video-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.video-element
{
    width: 100%;
}

.thumbnail-container
{
    width: 100%;
    margin-bottom: 12px;
}

.thumbnail
{
    width: 100%;
}

.video-info
{
    min-width: 200px;
    display: flex;
    flex-flow: row wrap;
}

.pfp
{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 18px;
}

.video-text-container
{
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto, Arial;
    margin-left: 12px;
    flex: 1;
}

.video-title, .video-author, .video-stats
{
    margin-top: 0px;
}

.video-title
{
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-author, .video-stats
{
    color: gray;
    font-size: 12px;
    margin-bottom: 4px;
}
