.header
{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 55px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: red;
    padding-right: 40px;

}

.youtube-logo
{
    width: 100px;
}

.search-container
{
    flex: 1;
    
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 50px;
}

.search-bar
{
    flex: 1;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    position: relative;
    padding-left: 10px;
    border-color: gray;  
    width: 0px;
}

.search-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    margin-left: -5px;
    width: 66px;
    outline: none;
}


.search-icon{
    width: 25px;
    height: 25px;
    object-fit: cover;   
}

.voice-search-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: gray;
    border: none;
}

.voice-search-icon
{
    width: 25px;
    height: 25px;
    object-fit: cover;
}


.icons-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin-right: 50px;
    column-gap: 20px;
}

.icons-container img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

