.header
{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.left-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 31px;
}

.hamburger-menu-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
}

.hamburger-menu-container:hover
{
    background-color: rgb(235, 235, 235);
}

.hamburger-menu-icon
{
    height: 40px;
}

.youtube-logo-container
{
    cursor: pointer;
}

.youtube-logo
{
    width: 100px;
    
}

.search-container
{
    flex: 0.5;
    
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 50px;
}

.search-bar
{
    flex: 1;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    position: relative;
    padding-left: 10px;
    border-color: gray;  
    width: 0px;
}

.search-bar:focus
{
    outline: none;
}

.search-button{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    margin-left: -5px;
    width: 66px;
    outline: none;
    cursor: pointer;
}


.search-icon{
    width: 25px;
    height: 25px;
    object-fit: cover;   
}

.tooltip-search
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px 6px 10px;
    top: 45px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

.search-button:hover .tooltip-search
{
    
    opacity: 1;
}

.voice-search-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: gray;
    border: none;
}

.voice-search-icon
{
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.tooltip-voice-search
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px 6px 10px;
    top: 65px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

.voice-search-button:hover .tooltip-voice-search
{
    opacity: 1;
}


.icons-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin-right: 60px;
    column-gap: 20px;
    font-family: Roboto, Arial;
}

.upload-container, .youtube-apps-container, .notifications-container, .pfp-container
{
    position: relative;
}

.tooltip-upload
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px 6px 10px;
    top: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
    left: -15px;
}

.upload-container:hover .tooltip-upload
{
    opacity: 1;
}

.tooltip-youtube-apps
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px 6px 10px;
    top: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
    white-space: nowrap;
    left: -40px;
    transition: opacity 0.1s;
}

.tooltip-notifications
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px 10px 6px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
    top: 50px;
    left: -35px;
}

.notifications-container:hover .tooltip-notifications
{
    opacity: 1;
}

.youtube-apps-container:hover .tooltip-youtube-apps
{
    opacity: 1;
}

.icons-container img
{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 25px;
}

.channel-pfp-container
{
    cursor: pointer;
    position: relative;
}

